* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafafa;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%; 
}

/*! Nav Bar Start*/
nav {
    background-color: #4c3398;
    height: 45px;
    width: 100%;
}

.nav-left {
    display: flex;
    list-style: none;
    height: 100%;
}

.nav-left li {
    color: #dbdbff;
    font-weight: 600;
    font-size: 14px;
    padding: 0 20px;
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: 0.3s;
}

.nav-left li.active {
    background-color: #5d3ebc; 
    color: #ffd200; 
    border-radius: 5px 5px 0 0;
}

.nav-right {
    display: flex;
    gap: 30px;
}

.nav-right span {
    color: #dbdbff;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
/*! Nav Bar End*/

/*! Hero Section Start */
.hero {
    background-color: #5d3ebc;
    height: 500px; /* Geniş alan */
    width: 100%;
    position: relative;
}

.hero-left img {
    width: 160px;
    margin-bottom: 20px;
}

.hero-left h2 {
    color: white;
    font-size: 2.5rem;
    line-height: 1.2;
}
/*! Hero Section End */

/*! Login Card Start*/
.hero-right {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.login-card h5 {
    color: #5d3ebc;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
/*! Login Card End*/

/*!Input Area Start */
.input-container {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 50px;
    transition: 0.3s;
}

.input-container:focus-within {
    border-color: #5d3ebc;
}

.country-code {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-right: 1px solid #ddd;
    color: #333;
    font-weight: bold;
}

input[type="tel"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    letter-spacing: 1px;
}
/*! Input Area End*/

/*! Button Start */
.continue-btn {
    width: 100%;
    background-color: #ffd200;
    color: #5d3ebc;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.continue-btn:hover {
    background-color: #5d3ebc;
    color: #ffd200;
}
/*! Button End */